{
  "parser": "babel-eslint",
  "extends": ["airbnb-base"],
  "rules": {
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "no-unused-vars": 0
  },
  "globals": {
    "FormData": false
  }
}
