html,
body {
  background-color: #f1f1f1;
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
}

.hidden {
  display: none !important;
}

.container {
  background-color: #fff;
  height: 100%;
  max-width: 720px;
  padding: 15px 30px;
}

.header img {
  display: inline-block;
  margin-right: 15px;
  width: 100px;
}

.header h1 {
  color: #4b403a;
  display: inline-block;
  vertical-align: middle;
}

.upload-wrapper {
  border: 2px dashed #1898d4;
  height: 100px;
  margin-top: 10px;
  opacity: 0.8;
}

.upload-wrapper input {
  display: none;
}

.upload-wrapper p {
  color: #1898d4;
  font-size: 27px;
  font-weight: bold;
  line-height: 100px;
  opacity: 0.75;
  text-align: center;
}

.file-list-wrapper {
  border-top: 1px solid #e1e1e1;
  margin-top: 30px;
  padding-top: 30px;
}

.file-list-wrapper input {
  font-size: 18px;
  padding: 15px;
  width: 100%;
}

.files-list {
  list-style: none;
  margin-top: 15px;
  padding: 0;
}

.files-list li {
  background-color: #1898d4;
  color: #fff;
  display: block;
  margin-bottom: 10px;
  opacity: 0;
  padding: 10px 15px;
  position: relative;
  transform: rotateX(-90deg);
  transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);
}

.files-list li.show {
  opacity: 1;
  transform: none;
  transition: all 0.5s cubic-bezier(0.36, -0.64, 0.34, 1.76);
}

.files-list li .btn {
  background: #fff;
  border: 0;
  border-radius: 0;
  color: #1898d4;
  position: absolute;
  right: 15px;
  top: 15px;
}

.files-list li .btn:hover {
  background: #fff;
  color: #1898d4;
}

.files-list li .name {
  display: block;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.files-list li .size {
  display: block;
  font-size: 14px;
  opacity: 0.8;
}

.files-list li .file-info {
  max-width: 85%;
  overflow: hidden;
}
